<head>
<link rel="stylesheet" type="text/css" href="/css/background.css">
</head> 
<body background='/images/battleship.jpg'>
<center><h1>Welcome to BattleShips Game</h1></center>

<%= yield %>
</body>