<center><% if @name %>
<p>Welcome, <%= @name %>!</p>
<% end %></center>

<center><% if @name2 %>
<p>Welcome, <%= @name2 %>!</p>
<% end %></center>

<center><% if GAME.players.count == 1 %>
<p>We have <%= GAME.players.count %> player </p>
<% end %></center>

<center><% if GAME.players.count == 2 %>
<p>We have <%= GAME.players.count %> players </p>
<% end %></center>
<!-- 
<% if GAME.players.count < 2 %>
<center><form action ='/starting' method='post'>
What's your name?<input type="text" name="name" placeholder="e.g.Pavel">
<input type="submit" value="start">
</form></center
<% end %>

<% if GAME.players.count == 2 %>
<center><form action ='/place_ships' method='post'>
<input type="submit" value="Click if you are ready to play">
</form></center>
<% end %> -->


